.App {
  text-align: center;
}

video {
  width: 40vw;
  border: solid black 5px;
}

button {
  padding: 0.5rem;
  background-color: rgb(81, 81, 81);
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 5px;
 
}

button:hover {
  background-color: rgb(14, 14, 79);
  color: gray;
}